*
!*/
!/.atom/*
!.bash_logout
!.bash_profile
!.bashrc
!/.conky/*
!/.fonts/*
!.git/*
!.gitignore
!.gitignore.swp
!.git
!.irssi/*
!myscripts/*
!.pgadmin3/*
!.w3m/*
!.weechat/*
.weechat/logs
!.xinitrc

history
*.log
